*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.about{
    color: rgb(252, 236, 212);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     box-sizing: border-box;
     height: 100vh;
     background: url(about_img.jpg);
     /* padding: 20px;
     margin-bottom: 50px;*/
    
}
h1 /* Add other selectors for different text elements */ {
    color: rgb(72, 43, 43); /* Set text color to white or your preferred color */
    text-align: center; 
     position: absolute;
     box-sizing: border-box ;
     border-color: white;
    top: 10px; /* Adjust the top position as needed */
    background-color: rgb(186, 186, 199); /* Set your desired background color */
    padding: 10px; 
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid wheat;
    color: white;
    outline: none;
}
 
p
{
    font-size: large;
    color: white; /* Set text color to white or your preferred color */
    text-align: center;
    
  }