*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.contact{
    color: rgb(183, 158, 125);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     box-sizing: border-box;
     height: 100vh;
     font-size: 20px;
     background: url(customer-service-business-contact-concept-wooden-cube-block-which-print-screen-letter-telephone-email-address-message.jpg)
     /* padding: 20px;
     margin-bottom: 50px;*/
    
}
h1 {
 
    padding: 10px 35px;
    background-color: black;
    border: 1px solid wheat;
    color: white;
    outline: none;
}
.con{color: rgb(183, 158, 125);
    display:blocks ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
    margin-top: 10%;

 }
p
{
    font-size:20px;
    color: white; 
    text-align: center;
    
  }
  .wel{
margin-top: 35px;
  }
  h3{
    margin-left: 35px;
  }
  footer {
    
    color: #fff;
    font-size: larger;
    font-weight:bold;
    
    padding: 20px; 
    text-align: center; 
  }

footer a {
    color: #fff; 
    text-decoration: none;  
}


footer a:hover {
    text-decoration: underline; }