*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg);
}
h1{
    display: flex;
    padding: 10px 35px;
    background-color:rgb(14, 12, 12);
    border: 1px solid wheat;
    color: rgb(228, 208, 208);
    outline: none;
    justify-content: center;
    align-items: center;
    background: url(abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg);
   
}
.resume{
    display: block;
    padding: 10px 35px;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
   
}